<% provide(:subtitle, 'STM CHSN') %>

<div class="wrapper">
	<section id="CHSNstub">
		<article>
			<h1>Storm Chases</h1>
			<p>This page has not been populated yet.</p>
		</article>
	</section>
</div>
