<% provide(:subtitle, 'HAM') %>

<div class="wrapper overflow" id=HAMWrapper">
	<section id="HistWrapper">
		<figure id="ARRLLogo">
			<%= image_tag('ham/ARRL_logo.jpg') %>
		</figure>
		<article id="History">
			<h3>HAM Amateur Radio</h3>
			<p>&emsp;Amateur Radio (HAM radio) is a popular hobby and service that brings people, electronics and communication together. People use HAM radio to talk across town, around the world, or even into space, all without the Internet or cell phones.<br /><p class="quote">&emsp;In 1873, James Clerk Maxwell presented his theory of the electromagnetic field. In 1901 Guglielmo Marconi communicated across the Atlantic with a radio device using high power and giant antennas. To curb interference, Congress approved the Radio Act of 1912, which required amateurs to be licensed and restricted to the single wavelength of 200 meters. In 1914 the American Radio Relay League <span>[ARRL]</span> was founded by Hiram Percy Maxim, who found that messages could be sent more reliably over long distances if relay stations were organized. Transatlantic transmitting and receiving tests began in 1921 and by July 1960 the first two-way contact via the Moon took place on 1296 MHz.</p><br />&emsp;<span>The use of HAM to describe amateur radio operators has a varied etymology from the initials of Hertz, Armstrong, and Marconi to an acronym for "Help All Mankind."  An early use of the word is described when </span>government stations, ships, coastal stations and the increasingly numerous amateur operators all competed for time and signal supremacy in each other's receivers. Many of the amateur stations were very powerful. Two amateurs, working each other across town, could effectively jam all the other operations in the area. Frustrated commercial operators would refer to the ham radio interference by calling them "hams." Amateurs, possibly unfamiliar with the real meaning of the term, picked it up and applied it to themselves.<span>  Perhaps the earliest use of the word was during the late 19th century when the term "ham operator" was commonly applied by landline telegraphers to an operator with poor or "ham fisted" skills.</span></p>
		</article>
	</section>
	<section class="clear" id="MblInstall">
		<article>
			<h3>Mobile Rig and Installation</h3>
			<p>&emsp;I am a Hammy.  I have a Yaesu FT-5100 dual-band transceiver and a Uniden Bearcat BC560XLT scanner.  <a class="link" href=""><span class="hide">[see&nbsp;</span>links<span class="hide">]</span></a></p>
		</article>
	</section>
</div>

