<footer class="clear wrapper">
		<div id="RailsWrapper">
			<span>Built with </span>
			<img src="#" alt="Rails Logo" />
		</div>
		<nav id="FooterNav">
			<ul id="FooterLinks">
				<li><a href="#">Contact</a></li>
				<li><a href="#">Disclaimer</a></li>
				<li><a href="#">References</a></li>
			</ul>
		</nav>
		<div id="BrowserWrapper" class="clear">
			<ul id="BrowserLinks">
				<li><a href="#">Firefox</a></li>
				<li><a href="#">Chrome</a></li>
			</ul>
		</div>
</footer>