<table id="Models">
	<tr id="TitleRow">
		<th>Atmospheric&nbsp;Profile</th>
		<th colspan="2">Quad&nbsp;Panel</th>
	</tr>
	<tr id="ModelRow">
		<td>
			<table id="APModels">
				<tr>
					<th>Available&nbsp;Models</th>
				</tr>
				<tr>
					<td id="APProds">
						<ul>
							<li>RAP</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>Intial&nbsp;Time&nbsp;-&nbsp;Date</th>
				</tr>
				<tr>
					<td id="APInits">
						<ul class="model">
							<li>06Z<li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>Hour</th>
				</tr>
				<tr>
					<td id="APHours">
						<ul class="model">
							<li>00hr</li>
							<li>17hr</li>
							<li>18hr</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th>Elements</th>
				</tr>
				<tr>
					<td id="APData">
						<ul class="model">
							<li><a href="img/12.06.14/mdl/RAP/00hr_SFC_TEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">Surface Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_925mbTEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">925mb Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_925mbDEWPT&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">925mb Dew Pt</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_850mbTEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">850mb Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_850mbDEWPT&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">850mb Dew Pt</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_700mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">700mb Winds</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_500mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">500mb Winds</a></li>
							<li><a href="img/12.06.14/mdl/RAP/00hr_250mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">250mb Winds</a></li>
						</ul>
						<ul class="model">
							<li><a href="img/12.06.14/mdl/RAP/17hr_SFC_TEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">Surface Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_925mbTEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">925mb Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_925mbDEWPT&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">925mb Dew Pt</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_850mbTEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">850mb Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_850mbDEWPT&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">850mb Dew Pt</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_700mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">700mb Winds</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_500mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">500mb Winds</a></li>
							<li><a href="img/12.06.14/mdl/RAP/17hr_250mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">250mb Winds</a></li>
						</ul>
						<ul class="model">
							<li><a href="img/12.06.14/mdl/RAP/18hr_SFC_TEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">Surface Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_925mbTEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">925mb Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_925mbDEWPT&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">925mb Dew Pt</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_850mbTEMP&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">850mb Temp</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_850mbDEWPT&WIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">850mb Dew Pt</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_700mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">700mb Winds</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_500mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">500mb Winds</a></li>
							<li><a href="img/12.06.14/mdl/RAP/18hr_250mbWIND-06Z_RAP-12.06.13.png" onmouseover="show_mdl(this)">250mb Winds</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
		<td colspan="2">
			<table id="QPModels">
				<tr>
					<th>Available&nbsp;Models</th>
					<th>Date</th>
					<th>Initial&nbsp;Time</th>
				</tr>
				<tr>
					<td id="QPProds">
						<ul>
							<li class="selected">EURO</li>
							<li>GFS</li>
						</ul>
					</td>
					<td id="QPDates">
						<ul class="model">
							<li class="selected">11.29.13</li>
							<li>12.02.13</li>
						</ul>
						<ul class="model">
							<li>11.29.13</li>
							<li>12.02.13</li>
							<li>12.04.13</li>
						</ul>
					</td>
					<td id="QPInits">
						<ul class="model">
							<li class="selected">00Z</li>
						</ul>
						<ul class="model">
							<li>00Z</li>
						</ul>
						<ul class="model">
							<li>12Z</li>
						</ul>
						<ul class="model">
							<li>12Z</li>
						</ul>
						<ul class="model">
							<li>12Z</li>
						</ul>
						<ul class="model">
							<li>12Z</li>
						</ul>
					</td>
				</tr>
				<tr>
					<th colspan="3">Hours</th>
				</tr>
				<tr>
					<td id="QPData" colspan="3">
						<ul class="model">
							<li><a href="img/12.06.14/mdl/EURO/120hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">120hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/144hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">144hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/168hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">168hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/169hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">169hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/192hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">192hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/216hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">216hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/240hr_EURO-00Z-11.29.13.png" onmouseover="show_mdl(this)">240hr</a></li>															</ul>
						<ul class="model">
							<li><a href="img/12.06.14/mdl/EURO/24hr_EURO-00Z-12.02.13.png" onmouseover="show_mdl(this)">24hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/48hr_EURO-00Z-12.02.13.png" onmouseover="show_mdl(this)">48hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/72hr_EURO-00Z-12.02.13.png" onmouseover="show_mdl(this)">72hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/96hr_EURO-00Z-12.02.13.png" onmouseover="show_mdl(this)">96hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/120hr_EURO-00Z-12.02.13.png" onmouseover="show_mdl(this)">120hr</a></li>
							<li><a href="img/12.06.14/mdl/EURO/144hr_EURO-00Z-12.02.13.png" onmouseover="show_mdl(this)">144hr</a></li>
						</ul>
						<ul class="model">
							<li><a href="img/12.06.14/mdl/GFS/108hr_GFS-00Z-11.29.13.png" onmouseover="show_mdl(this)">108hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/120hr_GFS-00Z-11.29.13.png" onmouseover="show_mdl(this)">120hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/132hr_GFS-00Z-11.29.13.png" onmouseover="show_mdl(this)">132hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/144hr_GFS-00Z-11.29.13.png" onmouseover="show_mdl(this)">144hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/168hr_GFS-00Z-11.29.13.png" onmouseover="show_mdl(this)">168hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/180hr_GFS-00Z-11.29.13.png" onmouseover="show_mdl(this)">180hr</a></li>	
						</ul>
						<ul class="model">
							<li><a href="img/12.06.14/mdl/GFS/24hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">24hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/36hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">36hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/48hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">48hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/60hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">60hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/72hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">72hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/84hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">84hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/96hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">96hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/108hr_GFS-00Z-12.02.13.png" onmouseover="show_mdl(this)">108hr</a></li>																</ul>
						<ul class="model">
							<li><a href="img/12.06.14/mdl/GFS/24hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">24hr</a></li>	
							<li><a href="img/12.06.14/mdl/GFS/36hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">36hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/48hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">48hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/60hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">60hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/72hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">72hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/84hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">84hr</a></li>
							<li><a href="img/12.06.14/mdl/GFS/96hr_GFS-00Z-12.04.13.png" onmouseover="show_mdl(this)">96hr</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th id="MdlTitle" colspan="3"></th>
	</tr>
	<tr>
		<td id="ImgRow" colspan="3">
			<img id="MdlImg"src="#" alt="Model Output Image" />
		</td>
	</tr>
</table>